#about-us {
    padding: 8px;
}
#title {
    margin-left: 10px;
    margin-bottom: 20px;
}

.devs {
    display: flex;
}

.user-box {
    display: flex;
    padding: 8px;
    margin: 10px;
    align-items: center;
    border-radius: 10px;
    box-shadow: -3px 6px 15px 5px #bdbdbd;
    transition: all 0.5s ease-in-out;
    background-color: #fff;
}

.user-box .info {
    margin-left: 10px;
    width: 100%;
}

.social {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: end;
}

.social-box {
    margin-right: 10px;
}

.social-box:nth-child(2) {
    display: flex;
    background: #1f1f1f;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;

    & img {
        width: 30px;
        height: 30px;
    }

    & p {
        color: white;
        margin-left: 5px;
        margin-bottom: 0px;
        font-size: 16px;
        font-weight: 500;
    }
}

.user-box #profile-img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.user-box #qrcode {
    width: 110px;
    height: 110px;
}

.user-box #logo {
    width: 100px;
    height: 15px;
}

@media screen and (max-width: 767px) {
    .user-box .social {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .info h2 {
        font-size: 20px;
    }

    .user-box #profile-img {
        width: 90px;
        height: 90px;
        object-fit: cover;
    }

    .social-box:nth-child(2) {
        margin-right: 0;
    }
}